# Change the filename to be ".env" to enable the secrets

# https://account.postmarkapp.com/servers/10793599/credentials 
POSTMARK_CLIENT_SECRET=""

# https://github.com/settings/applications/2186914 
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# https://vercel.com/hansaskov/hjemmet/settings/environment-variables 
KV_REST_API_URL = ""
KV_REST_API_TOKEN = ""
POSTGRES_URL_NON_POOLING = ""
POSTGRES_PRISMA_URL=""